# Modul 2: Tipe Data, Variabel, Dasar Input Output

### Luaran Pembelajaran:
   1. tipe data dan metode dasar untuk memformat, mengkonversi, input dan output data;
   2. operator;
   3. variabel.

## 2.1 Program Pertama

    1. Fungsi/function print()
    2. Argument dalam fungsi print
    3. Escape Character
    4. Parameter sep dan end

### 2.1.1 Fungsi Print

In [1]:
print("Hello, World!")

Hello, World!

### LAB 1
        
    1. Cetak kalimat "Hello, Python!"
    2. Cetak nama pertamamu
    3. Cetak nama pertamamu tanpa petik
    4. apakah ada bedanya double quote "" dan single quote ' ?

In [ ]:
print("Hello, Python!")
print("Isna")
print(Isna)
print ('Isna')

### 2.1.2 Argumen dalam fungsi print()

pada fungsi print terdapat argument yang dapat diisi atau dikosongkan. 
misal print("Hello!") <-- pada contoh ini, argument berisi string "Hello!" 

Argument dalam fungsi print dapat etrdiri dari 2 jenis:
1. Positional argumen
2. Non positional argumen

In [ ]:
print("Hello, ")
print("Isna")

In [ ]:
print("Hello, Python!", end="")
print("Isna")

### 2.1.3 Formatting dengan Special Character

`\' = karakter spesial "escaping nature"

\n = untuk enter

\ = escaping karakter

    print() = berarti line kosong

Tidak boleh ada 2 perintah dalam 1 baris

    print("nama depan") print ("nama belakang")

In [ ]:
print("seketika langit menjadi gelap\nkemudian hujan turun dengan deras.")
print()
print("ibu memasak di dapur\ndan kakak menyapu di halaman.")

In [ ]:
print("\")

In [ ]:
print("\\")

### Beberapa kalimat dapat dipisahkan dengan koma

print("The itsy bitsy spider" , "climbed up" , "the waterspout.")

In [ ]:
print("My name is", "Python.")
print("Monty Python.")

### 2.1.3 Parameter sep dan end

end=" " digunakan untuk meletakkan argumen setelah argumen pertama

sep="=" digunakan untuk memisahkan antar argumen dengan string kosong atau karakter lain

contoh penggunaan "end"

In [ ]:
print("My name is", "Python.", end=" ")
print("Monty Python.")

In [ ]:
print("My name is ", end="")
print("Monty Python.")

contoh penggunaan "sep"

In [ ]:
print("My", "name", "is", "Monty", "Python.", sep="-")

In [ ]:
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")
print("Digital", "Talent", "Dahsyat", sep="_", end="*")
print("Guntur", "Budi.", sep="*", end="*\n")

### Lab

Buatlah Program untuk menghasilkan output: 

Programming*******Essentials*******in...Python

## Lab

Tugasmu adalah mempersiapkan kode simpel untuk menentukan waktu akhir/selesai sebuah kegiatan. Diberikan variabel durasi waktu dalam menit dan waktu mulai dalam jam (0..23)dan menit (0..59). hasilnya harus dicetak dalam console

sebagai contoh, jika suatu kegiatan dimulai pukul 12:17 dan berlangsung selama 59 minutes , maka kegiatan tersebut tersebut akan selesai pukul 13:16

jangan takut kalau kodemu belum sempurna, tidak masalah waktunya terlihat tidak valid, yang terpenting kodenya dapat menghasilkan nilai yang valid berdasarkan data input.

Kode Dasar:

jam = int(input("waktu mulai (jam): "))
menit = int(input("waktu mulai (menit): "))
durasi= int(input("durasi kegiatan (minutes): "))

#### Letakkan kodemu disini

Uji Kodemu, Petunjuk ! gunakan operator % sebagai kunci suksesmu

In [ ]:
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))


hour+=(mins+dura)//60
mins=(mins+dura)%60

print("end_time= ", str(hour%24),":",str(mins))

In [7]:
print(2%4)

2

In [6]:
print(11%4)

3